
{% set filter = app.session.get('filter') %}
{#{% if filter is defined %}
    {{ dump(filter['role'])}}
{% endif %}#}
<form id='filterForm'>
    <label for="username"> Username</label>
    <input type="text" id='username' name="username" value="{{filter['username']}}" />

    {#    <input type='hidden' name='page' value='{{filter['page']}}'/>#}

    <label for="roles">Role</label>
    <select name="role" id='role'>
        <option value= >Role</option>
        <option {{filter['role'] == 0 ? 'selected' :'' }} value=0   >Admin</option>
        <option {{filter['role'] == 1 ? 'selected' :'' }} value=1   >Mother</option>
        <option {{filter['role'] == 2 ? 'selected' :'' }} value=2   >Child</option>

    </select>

    <button  id='filter'>Filter</button>
</form>



<script>
    $(document).ready(function () {

        $('#pagination').on('click',function (e) {
            console.log(e);
            e.preventDefault();
            var filter = {'username': $('#username').val(),
                'role': $('#role').val()}
            pageClick(e, filter);
        });

        $("#filter").click(function (e) {
            e.preventDefault();
            console.log($('#username').val());
            var filter = {'username': $('#username').val(),
                'role': $('#role').val()};
            console.log(filter);
    {#                      return false;#}
            getResult('{{ path('user_filter',{'page':1 }) }}', filter);
        });

        function pageClick(e, filter ) {
            console.log(filter);
            var p = e.target.id;
            if(! isNaN(p)) {
                getResult("/user/" + p + "/filter", filter);
            }
        }

        function toFormData(url, filter) {
            var result = url;
            var str = [];
            for (var p in filter)
                str.push(encodeURIComponent(p) + "=" + encodeURIComponent(filter[p]));
            result += str.join("&");
            return result;
        }

        function getResult(url, filter) {
            var url = toFormData(url + "?", filter);
            console.log(url);
            $.ajax({"url": url,
                "method": "GET",
                "dataType": "json",
                success: function (result) {

                    if (result) {
                        var strUser = "<tr>";
                        $.each(result.users, function (key, user) {
                            var role = user.role == 0 ? 'admin' : user.role == 1 ? 'Mother' : 'child';
                            strUser += "<th>" + user.fname + "</th>\
                                                      <td>" + user.lname + "</td>\
                                                      <td>" + user.username + "</td>\
                                                      <td>" + role + "</td>\
                                                      <td>" + user.age + "</td>\
                                                    ";
                            strUser += '</tr>';
                        });
                        var strPaginate = "";
                        if (result.maxPages > 1) {
                            for (var page = 1; page <= result.maxPages; page++) {
                                strPaginate += "<li><div id='" + page + "'class='page'> << " + page + " >> </div> </li>";
                            }
                        }

                        
                        $('#users').empty();
                        $('#users').append(strUser);
                        $('#pagination').empty();
                        $('#pagination').append(strPaginate);
                    }
                }
            });
        }
    });
</script>        


