{% extends 'base.html.twig' %}

{% block body %}
    
    
    {% if is_granted('ROLE_ADMIN') %} 
        {{ include('TimeBundle:user:filterForm.html.twig') }}
    {% endif %}
    
    <table class="table">
        <thead class="thead-default">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody id='users'>
          {% if users %}
              {% for user in users %}
              <tr>
                <th>{{user.fname}}</th>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role == 0 ? 'Admin' : user.role == 1 ? 'Mother' : 'Child' }}</td>
                <td>{{user.age}}</td>
              </tr>
              {% endfor %}
          {% else %}
              <th>No Search Result </th>
          {% endif %}
        </tbody>
    </table>
        
    {% if maxPages > 1%}
        <ul class ="pagination pagination-sm " id='pagination'>
            {% for num in 1..maxPages %}
            <li  >
                <div id='{{num}}' class='page'> << {{num}}  >> </div>
                
               {#<a href="{{ path('user_index', { 'page': num }) }}"> << {{num}}  >> </a>
#}
            </li>
            {% endfor %}
        </ul>
    {% endif%}
    
                    

    
{% endblock %}
