{% extends 'base.html.twig' %}

{% block body %}
    
    
    {% if is_granted('ROLE_ADMIN') %} 
        {{ include('TimeBundle:user:searchForm.html.twig') }}
    {% endif %}
    
    <h1>Mothers list</h1>

    {% if users %}
        <div class="row">
            {% for user in users %}
                <div class="col-sm-4">
                    <div class="card">
{#                        <img class="card-img-top" src="..." alt="Card image cap">#}
                        <div class="card-block">
                          <h3 class="card-title">{{ user.username }}</h3>
                          <a href="{{ path('mother_show_my_children',{'motherId': user.id }) }}" class="btn btn-primary"> Children</a>
                          <a href="{{ path('user_show', { 'id': user.id }) }}"class="btn btn-primary">Profile</a>
                        </div>

                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}

    
    
    <table class="table">
        <thead class="thead-default">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Role</th>
            <th>Age</th>
          </tr>
        </thead>
        <tbody id='users'>
          {% if users %}
              {% for user in users %}
              <tr>
                <th>{{user.fname}}</th>
                <td>{{user.lname}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role == 0 ? 'Admin' : user.role == 1 ? 'Mother' : 'Child' }}</td>
                <td>{{user.age}}</td>
              </tr>
              {% endfor %}
          {% else %}
              <th>No Search Result </th>
          {% endif %}
        </tbody>
    </table>
        
    {% if maxPages > 1%}
        <ul class ="pagination pagination-sm ">
            {% for num in 1..maxPages %}
            <li {{ currentPage == num ? 'class="active"'}} >
                <div id='{{num}}'> << {{num}}  >> </div>
                
                    <script>
                      $(document).ready(function(){   
                        $("#{{num}}").click(function(e){
                               
                                e.preventDefault();
                                console.log($('#username').val());
                                var filter = {'username': $('#username').val(),
                                    'role': $('#role').val()};
                                          console.log(filter);
                    {#                      return false;#}
                                          getResult('{{ path('user_filter',{'page':num }) }}', filter);          
                                });

                                function toFormData(url, filter) {
                                    var result = url;
                                    var str = [];
                                    for (var p in filter)
                                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(filter[p]));
                                    result += str.join("&");
                                    return result ;
                                }

                                function getResult( url, filter) {
                                    var url = toFormData(url+"?", filter);
                                    console.log(url);
                                    $.ajax({"url": url ,
                                        "method": "GET",
                                        "dataType":"json",
                                        success: function (result) {

                                        }
                                    });
                                }


                        });
                    </script>
               {#<a href="{{ path('user_index', { 'page': num }) }}"> << {{num}}  >> </a>
#}
            </li>
            {% endfor %}
        </ul>
    {% endif%}

    
{% endblock %}
