{% extends 'base.html.twig' %}

{% block body %}
    
        <table class="table">
          <thead class="thead-default">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
              <th>Role</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            {% if users %}
                {% for user in users %}
                <tr>
                  <th>{{user.fname}}</th>
                  <td>{{user.lname}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.role == 0 ? 'Admin' : user.role == 1 ? 'Mother' : 'Child' }}</td>
                  <td>{{user.age}}</td>
                </tr>
                {% endfor %}
            {% else %}
                <th>No Search Result </th>
            {% endif %}
          </tbody>
        </table>
    
    
{% endblock %}
