{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <br>
    <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h3 class="card-title">{{user.username}}</h3>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    fname :{{ user.fname }}
                </li>
                <li class="list-group-item">
                    lname :{{ user.lname }}
                </li>
                <li class="list-group-item">
                    age :{{ user.age }}
                </li>
                <li class="list-group-item">
                    role :{{user.role == 2? 'Mother':(user.role == 3 ? 'Child':'admin')}}
                </li>
            </ul>
        </div>
    </div>


    
        <ul>
            {% if  app.user.id == user.id  %}
                <li>
                    <a href="{{ path('user_edit',{ 'id': user.id }) }}" class="btn btn-default">Edit</a>
                </li>
            {% elseif app.user.role == 2 %}
                <li>
                    <a href="{{ path('user_edit',{ 'id': user.id }) }}" class="btn btn-default">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            {% elseif app.user.role == 1 and user.role == 2 %}
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            {% endif%}
        </ul>
    

{% endblock %}
