{% extends 'base.html.twig' %}

{% block body %}
    {#{{dump()}}#}
    <h1>User Dailyschedules list</h1>

          <a class="card-link" href="{{ path('dailySchedule_show', { 'child_id': child_id }) }}">Today Schedule </a>

            {% if dailySchedules %}
                <div class="row">
  
                {% for taskDate,dailySchedule in dailySchedules %}
                    <div class="col-sm-3">
                        <div class="card" >
                            <h2> </h2>
                            <div class="card-block">
                              <h4 class="card-title">{{taskDate|date('l')}}</h4>
                              <p class="card-text">{{ taskDate|date('Y-m-d') }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                {% for task in dailySchedule %}
                                    <li class="list-group-item">
                                         {{ task.taskName }}
                {#                         <pre class='text-right '> {% if dailySchedule.isDone %}Yes{% else %}No{% endif %}</div>#}

                                        {% if task.state %}
                                           <div class="date" id="{{task.id}}done" >
                                            <h6 class="glyphicon glyphicon-ok" aria-hidden="true">Done</h6>
                                           </div>
                                           <div class="date" style="display:none" id="{{task.id}}notDone">
                                             <h6 class="fa fa-plus" aria-hidden="true">NotDone</h6>
                                           </div>


                                         {% else %}
                                           <div class="date" style="display:none" id="{{task.id}}done">
                                             <h6 class="glyphicon glyphicon-ok" aria-hidden="true">Done</h6>
                                           </div>
                                           <div class="date" id="{{task.id}}notDone">
                                             <h6 class="fa fa-plus" aria-hidden="true">NotDone</h6>
                                           </div>
                                         {% endif %}
                                    </li>

                                {% endfor %}
                            </ul>
                            <div class="card-block">
        {#                      <a class="card-link" href="{{ path('dailySchedule_index') }}">Back to the list</a>#}

                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
    {% endif %}
    
    
{% endblock %}
