{% extends 'base.html.twig' %}

{% block body %}
    <div class='row'>
    {% if tasks.admin is defined%}
    <div class="col-sm-6">
        <div class="card" >
            <h2> </h2>
            <div class="card-block">
              <h4 class="card-title"> Admin Tasks </h4>
            </div>
            
            <ul class="list-group list-group-flush">
                
                {% for task in tasks.admin %}
                    <li class="list-group-item">
                         {{ task.taskName }}
                        
                    </li>

                {% endfor %}
            </ul>
            
            <div class="card-block">

            </div>
        </div>
    </div>
    {% endif %}
    {% if tasks.mothers is defined %}
    <div class="col-sm-6">
        <div class="card" >
            <h2> </h2>
            <div class="card-block">
              <h4 class="card-title"> Mothers Tasks </h4>
            </div>
            
            <ul class="list-group list-group-flush">
                
                {% for task in tasks.mothers %}
                    <li class="list-group-item">
                         {{ task.taskName }}
                         <ul>
                             <li>{{ task.creator.username }}</li>
                         </ul>
                        
                    </li>

                {% endfor %}
            </ul>
            
            <div class="card-block">

            </div>
        </div>
    </div>
    {% endif %}
    

    <div class="col-sm-6">
        <div class="card" >
            <h2> </h2>
            <div class="card-block">
              <h4 class="card-title"> Your Tasks </h4>
            </div>
            
            <ul class="list-group list-group-flush">
                {% if tasks.yourTask %}
                {% for task in tasks.yourTask %}
                    <li class="list-group-item">
                         {{ task.taskName }}
                         <ul>
                             <li><a href="{{ path('task_edit', { 'task_id': task.id }) }}">Edit  </a></li>
                             <li><a href="{{ path('task_show', { 'task_id': task.id }) }}">  Show</a></li>
                         </ul>
                    </li>
                
                {% endfor %}
                {%else%}
                    <li> 
                    </li>
                {% endif %}
                
            </ul>
            
            <div class="card-block">

            </div>
        </div>
    </div>

</div>
    

    
{% endblock %}
