{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ task.taskName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Taskname</th>
                <td>{{ task.taskName }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ task.creator.username }}</td>
            </tr>
            <tr>
                <th>Schedule</th>
                <td>
                    <ul>
                        {% if  task.schedule == 0 %}    
                            <li>{{ 'Daily'}}</li>
                        {% else %}
                            {% for day in task.schedule|scheduleDate %}
                                <li>{{day}} </li>
                            {% endfor%}
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_index') }}">Back to the list</a>
        </li>
        {#<li>
            <a href="{{ path('task_edit', { 'task_id': task.id }) }}">Edit</a>
        </li>#}
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
